<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
    body {
      font-family: Arial, sans-serif;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    nav {
      background-color: #f4f4f4;
      padding: 10px;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    nav li {
      display: inline;
      margin-right: 10px;
    }

    nav a {
      color: #333;
      text-decoration: none;
      padding: 5px;
    }

    footer {
      background-color: #f4f4f4;
      padding: 0px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 50px;
      width: 100%;
      overflow: hidden;
    }
  </style>
</head>
<body  style="background-color:rgba(122, 176, 184, 0.718);">
  <header>
    <h1>Know Your Customer(KYC) Form</h1>
  </header>

  <nav>
    <ul>
      <li><a href="update">Update</a></li>
      <li><a href="delete">Delete</a></li>
      <li><a href="all">GetDetails</a></li>
 			<li style="float:right"><a href="#logout">Logout</a></li>
    </ul>
  </nav>

  
  <footer>
    <p>&copy; 2023 My Website. All rights reserved.</p>
  </footer>
</body>
</html>
