<!DOCTYPE html>
<html>
<head>
  <title>Declaration Form</title>
</head>
<body >
  <h1>Declaration Form</h1>
  <form action="/declaration" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <div class="declaration">
  
   <p> <input type="checkbox" id="kyc" name="kyc" value="kyc" required><b>I hereby declare that the information provided in my application is true and accurate to the best of my knowledge.

      I understand that any false statements may result in the rejection of my application or termination of my candidature.</p>
    
      <label for="vehicle1"></label><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
